/*================*/
/*Baseline styling*/
body {
  font-family: NeuzeitGro-Reg !important;
  color: #000000 !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: NeuzeitGro-Bol !important;
  margin-bottom: 20px;
}

.layout-section-header:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #000000;
  margin-top: 10px;
}

a, a:hover {
  font-family: NeuzeitGro-Bol !important;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/*All Input Boxes Styling*/
.form-control,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  background-color: #fff;
  border: 0;
  box-shadow: none;
  border-bottom: solid 1px #000;
  padding: 0;
  font-size: 14px;
  color: #000;
  font-family: NeuzeitGro-Bol;
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  border-color: #000;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  background: #000000;
  color: #ffffff;
  padding-left: 5px;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group, .dropdown {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-weight: normal;
}

.input-group-addon {
  background-color: #fff;
  border: 0;
  border-bottom: solid 1px #000;
  border-radius: 0;
  padding-left: 0;
}

/*Buttons*/
.btn {
  border-radius: 0;
  border: 0;
  color: #ffffff;
  background-color: #000;
  font-family: NeuzeitGro-Bol;
}

.btn:hover {
  background-color: #000000;
  color: #fff;
}

.btn.active, .btn:focus, .btn:active {
  box-shadow: none !important;
  outline: none !important;
  background-color: #000;
  color: #fff;
}

.btn-lg-black {
  font-family: NeuzeitGro-Bol;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 30px;
  background-color: #000000;
}

.btn-outline {
  color: #000;
  background-color: #fff;
  border: solid 3px #000;
}

.btn-lg-outline:hover,
.btn-outline:hover {
  color: #fff;
  border-color: #000;
}

.btn-lg-outline {
  font-size: 20px;
  color: #000;
  background-color: #fff;
  border: solid 3px #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 30px;
}

.btn-no-box {
  padding: 0;
  background: none;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}

.header-btn {
  position: relative;
  font-size: 12px;
  padding: 3px 15px;
}

.cancel-btn {
  padding: 0;
  background: none;
  border: none;
  font-family: NeuzeitGro-Bol;
}

.btn-group[data-toggle="buttons"] > label {
  background-color: #e6e6e6;
  margin-right: 5px;
}

.btn-group[data-toggle="buttons"] > label.active {
  background-color: #000;
}

/*Dropdowns*/
.dropdown-menu {
  border-radius: 0;
  background-color: #000;
  width: 100%;
  box-shadow: none;
  border: none;
  font-family: NeuzeitGro-Bol;
  padding-bottom: 0;
  min-width: inherit;
  margin: 0;
  padding: 0;
}

.dropdown-scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-btn-div{
  background: #fff;
  border-bottom: solid 1px #000;
  width: 100%;
}

.dropdown-menu > li {
  border-bottom: solid 1px #fff;
}

.dropdown-menu > li:last-of-type {
  border-bottom: none;
}

.dropdown-menu > li > a{
  padding: 5px 0 5px 0;
  color: #fff;
  padding-left: 5px;
}

.dropdown-btn {
  border-radius: 0;
  border: 0;
  background-color: #fff;
  font-family: NeuzeitGro-Bol;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}

/*Modals*/
.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border: 0;
}

.modal-content {
  border-radius: 0;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
